body {
  margin: 0;
  overflow: hidden;
  background: #ff9500;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: black;
  font-size: 32px;
}

#copyright {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  font-size: 14px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}
